.main-content
  padding: 120px 5% 50px
  height: 50vw
  display: grid
  box-sizing: border-box
  grid-template: repeat(8,1fr) / 2.5fr 2.5fr 3fr 2fr

  &__item
    background-color: white
    box-sizing: border-box
    &_block
      &_bsa
        grid-area: 1/1/5/2
      &_js
        grid-area: 1/2/7/3
      &_php
        grid-area: 1/3/4/5
      &_qa
        grid-area: 5/1/9/2
      &_java
        grid-area: 7/2/9/3
      &_dotNet
        grid-area: 4/3/9/4
      &_events
        grid-area: 4/4/6/5
      &_blog
        grid-area: 6/4/8/5
      &_contacts
        grid-area: 8/4/9/5

.main-content__item
  perspective: 1000px
  width: 100%
  height: 100%

.card-inner
  position: relative
  width: 100%
  height: 100%
  transition: all 0.6s

.flip-card-inner
  transform-style: preserve-3d

.card__button
  padding: 8px 20px
  background-color: #003FA0
  color: white
  border-radius: 5px
  text-decoration: none
  &:visited
    color: white


.card-front
  display: flex
  justify-content: center
  align-items: center
  padding: 10px
  box-sizing: border-box
  z-index: 1
  &__js
    background-color: #F5C968
    justify-content: flex-end
    align-items: flex-end
    font-weight: bold
    font-size: 8rem
  &__qa
    background-color: #3E985E
    color: #ffffff
    font-size: 8rem
  &__java
    background-color: #BD233A
    font-size: 4rem
    color: #ffffff
  &__dotNet
    background-color: #471854
    color: #ffffff
    font-size: 8rem
  &__php
    background-color: #7D88B5
    font-size: 6rem
    font-style: italic
  &__events
    background-color: #2B8FF9
    color: #ffffff
  &__blog
    background-color: #03378C
    color: #ffffff
  &__contacts
    background-color: #021940
    color: #ffffff



.card-front, .card-back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  transition: all 0.6s

.card-back
  display: flex
  justify-content: flex-start
  align-items: flex-start
  padding: 20px
  box-sizing: border-box
  font-size: 2rem
  overflow-y: scroll
  font-weight: bold
  line-height: 1.2
  z-index: 0
  &_contacts
    justify-content: center
    align-items: center
    font-size: 2rem
  &_events, &_blog
    font-size: 2rem
    font-weight: normal
  &_logo
    justify-content: center
    align-items: center


.card-icon
  transition: all .4s ease
  &:hover
    color: #033483


.main-content__item:hover .flip-card-inner
  transform: rotateY(180deg)

.main-content__item:hover .min-to-top-right
  width: 0
  height: 0
  font-size: 0
  padding: 0

.main-content__item:hover .min-to-bottom
  height: 0
  font-size: 0
  padding: 0

.main-content__item:hover .min-to-bottom-right
  height: 0
  width: 0
  font-size: 0
  padding: 0

.main-content__item:hover .min-to-right
  width: 0
  font-size: 0
  padding: 0

.flip-card-back
  transform: rotateY(180deg)

.min-to-top-right
  right: 0

.min-to-bottom
  bottom: 0

.min-to-right
  right: 0

.min-to-bottom-right
  bottom: 0
  right: 0

.bsa_img
  height: 50%

@media ( min-width: 0px ) and (max-width: 969px)
  .main-content
    height: 100vw
    grid-template: repeat(16,1fr) / repeat(20,1fr)

    &__item
      &_block
        &_bsa
          grid-area: 1/1/9/10
        &_js
          grid-area: 1/10/9/17
        &_php
          grid-area: 9/11/13/21
        &_qa
          grid-area: 13/1/17/11
        &_java
          grid-area: 9/1/13/11
        &_dotNet
          grid-area: 13/11/17/21
        &_events
          grid-area: 1/17/4/21
        &_blog
          grid-area: 4/17/7/21
        &_contacts
          grid-area: 7/17/9/21