@keyframes slideInFromTop
  0%
    transform: translateY(-100%)

  100%
    transform: translateY(0)

.header
  z-index: 100
  position: fixed
  display: flex
  width: 100%
  padding: 10px 5%
  justify-content: space-between
  box-sizing: border-box
  background-color: #e6e6e6
  animation: 1s ease 0s 1 slideInFromTop

.logo
  width: 150px

.profile
  display: flex
  align-items: center
  position: relative

  &__icon
    margin-right: 30px
    font-size: 24px
    color: #a9a9a9
    transition: all 0.4s ease
    cursor: pointer
    &:hover
      color: #898989

  &__avatar
    background-color: #FE9B28
    width: 50px
    height: 50px
    border-radius: 100px
    display: flex
    align-items: center
    justify-content: center
    font-size: 22px
    color: white
    cursor: pointer
    transition: all 0.5s ease
    &:hover
      background-color: #b26002

  &__menu
    position: absolute
    padding: 20px
    width: 150px
    right: 0
    top: 60px
    font-size: 16px
    box-shadow: 0px 0px 20px 0px rgba(112,112,112,.4)
    background-color: #fff
    visibility: hidden
    opacity: 0
    transition: visibility 0s .4s, opacity 0.4s ease
    z-index: 1

  &__name
    text-align: center
    color: #909CA8
  &__line
    border: 1px solid #909CA8
  &__item
    font-weight: 500
    margin-top: 14px
    margin-left: 10px
    font-size: 18px
    display: block

#menu-control
  display: none
  &:checked + .profile__menu
    transition: opacity .4s ease
    visibility: visible
    opacity: 1

.additionalInfo__text
  height: 0
  display: block
  font-size: 12px
  overflow: hidden
  transition: all .4s ease


#more-info
  display: none
  &:checked ~ .additionalInfo__text
    margin-top: 10px
    height: 30px
  &:checked ~ .additionalInfo__label>.arrow-for-aditional-info 
    transform: rotate(-180deg)
.arrow-for-aditional-info 
  transition: all .4s ease
  