.toasts
  position: fixed
  right: 0
  bottom: 0
  height: 50vh
  z-index: 10
  display: flex
  flex-direction: column
  justify-content: flex-end

  &__item
    padding: 14px
    padding-left: 60px
    box-sizing: border-box
    width: 240px
    opacity: .9
    border-radius: 5px
    color: white
    margin: 5px 10px
    font-size: 14px
    position: relative
    &::before
      position: absolute
      left: 22px
      top: calc(50% - 10px)  
      font-size: 20px 
      font-weight: 900;
      font-family: "Font Awesome 5 Free";

    &_type_error
      background-color: #B42234
      &::before
        content: "\f06a"; 
    &_type_warning
      background-color: #e1960a
      &::before
        content: "\f058";  
    &_type_success
      background-color: #388D57
      &::before
        content: "\f058";

  &__header
    margin-bottom: 6px
  &__text
    line-height: 1.4